{% extends "templates/blogs/site_base.html" %}
{% block body_main %}
{% for blog in blogs %}
                <article>
                    <header>
                    <h1>{{ blog.title }}</h1>
                        {# <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec.</p> #}
                    </header>
                    <section>
                    {% autoescape false %}
                    {{ blog.text }}
                    {# <pre>{{ blog.text }}</pre> #}
                    {% endautoescape %}
                        {# <h2>article section h2</h2> #}
                        {# <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p> #}
                    </section>
                    <footer>
                        {# <h3>article footer h3</h3> #}
                        <p>wrote by {{ blog.author }} at {{ blog.post_date }}</p>
                    </footer>
                </article>
{% endfor %}
{% endblock %}
